<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- [formGroup]="singupForm" corresponde al "singupForm: FormGroup" declarado en el typescript, los controles internos hacen referencia a las propiedades del objeto -->
            <form [formGroup]="singupForm" (ngSubmit)="onSubmit();">
              <!-- accediendo al form anidado con: formGroupName="userData" -->
                <div formGroupName="userData"><div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" formControlName="username" class="form-control">
                    <span *ngIf="singupForm.get('userData.username').invalid && singupForm.get('userData.username').touched" class="help-block">Please enter a valid username!</span>
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" id="email" formControlName="email" class="form-control">
                    <span *ngIf="singupForm.get('userData.email').invalid && singupForm.get('userData.email').touched" class="help-block">Please enter a valid email!</span>
                </div></div>
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                      <input
                        type="radio"
                        [value]="gender"
                        formControlName="gender"
                        >{{ gender }}
                    </label>
                </div>
                <span *ngIf="singupForm.invalid && singupForm.touched" class="help-block">Please enter valid data!</span>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
