<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/recipes">Recipes</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/shopping-list">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- These both version should work ...

                <ng-template [ngIf]="condition">
                    <div>To be, or not to be - that is the question</div>
                </ng-template>
                vs.
                
                <div *ngIf="condition">To be, or not to be - that is the question</div> 
                
                ... but no mixture of them.
                
                In practice you will use the second one, if you want to show one single element conditionally. Angular always uses the first 
                one under the hood. The second one is only some syntactic sugar and equivalent to the first one. -->

                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li><a routerLink="/signup">Register</a></li>
                    <li><a routerLink="/signin">Sign In</a></li>
                </ng-template>
                <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated();">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a style="cursor: pointer;" (click)="onSaveData();">Save Data</a>
                        </li>
                        <li>
                            <a style="cursor: pointer;" (click)="onFetchData();">Fetch Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
