<div style="border-style: solid; border-color: blue;" title="app-recipe-list">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success">New recipe</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <!-- aca estamos pasando datos al componente recipe-item a traves del ciclo for 
                estamos escuchando el evento itemSelected de recipe-item
            -->
            <app-recipe-item *ngFor="let recipeItem of recipes" [recipe]="recipeItem" (itemSelected)="onRecipeSelected(recipeItem);"></app-recipe-item>
        </div>
    </div>
</div>