<div class="text-center mt-4">
  <h2>ngContent</h2>
</div>
<div class="row mt-4 text-center">
  <div class="col-md-3 offset-2 border">
    <app-mi-componente>
      <h6 #title>#1</h6>
      <h4>Responsive Design</h4>
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley of type and scrambled
      </p>
    </app-mi-componente>
  </div>
  <div class="col-md-3 border-top border-bottom">
    <app-mi-componente>
      <h6 #title>#2</h6>
      <h4>Flexible</h4>
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy
           text ever since the 1500s, when an unknown printer took a galley of type and scrambled
      </p>
    </app-mi-componente>
  </div>
  <div class="col-md-3 border">
    <app-mi-componente>
      <h6 #title>#3</h6>
      <h4>Secure</h4>
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy
           text ever since the 1500s, when an unknown printer took a galley of type and scrambled
      </p>
    </app-mi-componente>
  </div>
</div>
